* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    height: 400px;
    width: 400px;
    border-radius: 200px;
    padding: 20px;
    background: black;  
}

.border {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background: white;   
}


